force-app/main/default/flows/Create_Order_Summary_Flow_Acc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Order_Summary_Action</name>
        <label>Create Order Summary Action</label>
        <locationX>308</locationX>
        <locationY>695</locationY>
        <actionName>createOrderSummary</actionName>
        <actionType>createOrderSummary</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createOrderSummaryInput</name>
            <value>
                <elementReference>OrderSummaryInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrderSummary</nameSegment>
        <outputParameters>
            <assignToReference>OrderSummaryOutputRepresentation</assignToReference>
            <name>createOrderSummaryOutput</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Order_Id</name>
        <label>Order Id, Order Life Cycle, and Order Business Model</label>
        <locationX>308</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>OrderSummaryInputRepresentation.orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderSummaryInputRepresentation.orderLifeCycleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Managed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderSummaryInputRepresentation.businessModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B2C</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Summary_Action</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Order_Summary_Exist</name>
        <label>Does Order Summary Exist?</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Order_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>orderSummaryExistYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Order Management: Create an Order Summary record from an order.</description>
    <environments>Default</environments>
    <interviewLabel>Create Order Summary Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Order Summary Flow Acc</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Order_Summary</name>
        <label>Get Existing Order Summary</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Order_Summary_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderReferenceNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderLifeCycleType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MANAGED</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesChannelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>runtime_commerce_oms__Create_OS</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesChannelId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryOutputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
